<div id="about-banner" style="background-image: url(<%- theme.about.banner %>)"></div>
<div class="author">
  <div class="head">
    <img src="<%- theme.about.avatar %>" />
  </div>
  <h3><%- config.author %></h3>
  <% if (typeof(theme.about.description) === 'object') { %>
    <% for (var i in theme.about.description) { %>
      <p class="description">
        <%- theme.about.description[i] %>
      </p>
    <% } %>
  <% } else { %>
    <p class="description"><%- theme.about.description %></p>
  <% } %>
  <section class="share-icons">
    <a href="https://www.notion.so/projectsuhwan/Who-am-I-f97ad009c20841678733d335044fc842" target="_blank">블로그 작성자 소개 페이지</a>
  </section>
</div>


<script>
  (function () {
    $('.header').removeClass('fixed-header')
    var windowH = $(window).height();
    var author = $('.author')
    var bodyH = author.offset().top + author[0].offsetHeight + 71;
    if (bodyH < windowH) {
      author.css({
        'margin-bottom': windowH - bodyH
      })
    }
  })();
</script>
