<div id="about-banner" style="background-image: url(<%- theme.about.banner %>)"></div>
<div class="author">
  <div class="head">
    <img src="<%- theme.about.avatar %>" />
  </div>
  <h3><%- config.author %></h3>
  <% if (typeof(theme.about.description) === 'object') { %>
    <% for (var i in theme.about.description) { %>
      <p class="description">
        <%- theme.about.description[i] %>
      </p>
    <% } %>
  <% } else { %>
    <p class="description"><%- theme.about.description %></p>
  <% } %>
  <section class="share-icons">
    <% if (theme.about.github_username) { %>
      <a class="icon-github" href="https://github.com/<%- theme.about.github_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
  </section>
</div>
<div class="cv-container">
  <h1 class="cv-title">Experiences</h1>
  <div class="experiences container">
    <% for (const location in theme.experience) { %>
    <% const experience = theme.experience[location] %>
    <div class="experiences-item">
      <div class="experiences-header">
        <h2 class="experiences-title"><%= location %></h2>
        <span class="experiences-period"><%= experience.period %></span>
      </div>
      <span class="experiences-position"><%= experience.position %></span>
      <div>
        <% for (const i in experience.description) { %>
        <p class="experiences-description">- <%= experience.description[i] %></p>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
  <hr />
  <h1 class="cv-title">Skills</h1>
  <div class="skills container">
    <% for (const skillType in theme.skill) { %>
    <div class="skills">
      <h2 class="skills-type"><%= skillType %></h2>
      <div class="skills-list">
        <div class="skills-column">
          <% for (const skill in theme.skill[skillType]) { %>
          <% if (Object.keys(theme.skill[skillType]).indexOf(skill) % 2 === 0) { %>
          <div class="skills-item">
            <h3 class="skills-name"><%= skill %></h3>
            <span class="skills-level"><%= theme.skill[skillType][skill] %></span>
          </div>
          <% } %>
          <% } %>
        </div>
        <div class="skills-column">
          <% for (const skill in theme.skill[skillType]) { %>
          <% if (Object.keys(theme.skill[skillType]).indexOf(skill) % 2 === 1) { %>
          <div class="skills-item">
            <h3 class="skills-name"><%= skill %></h3>
            <span class="skills-level"><%= theme.skill[skillType][skill] %></span>
          </div>
          <% } %>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script>
  (function () {
    $('.header').removeClass('fixed-header')
    var windowH = $(window).height();
    var author = $('.author')
    var bodyH = author.offset().top + author[0].offsetHeight + 71;
    if (bodyH < windowH) {
      author.css({
        'margin-bottom': windowH - bodyH
      })
    }
  })();
</script>
